@font-face {
  src: url('../css/font/gilroy/Gilroy-Regular.ttf') ;
  font-family: Gilroy-Regular;
  font-weight: normal;
}
@font-face {
  src: url('../css/font/gilroy/Gilroy-Black.ttf') ;
  font-family: Gilroy-Black;
  font-weight: normal;
}
@font-face {
  src: url('../css/font/gilroy/Gilroy-Bold.ttf') ;
  font-family: Gilroy-Bold;
  font-weight: normal;
}
@font-face {
  src: url('../css/font/gilroy/Gilroy-Medium.ttf') ;
  font-family: Gilroy-Medium;
}
@media screen and (min-width:1090px) {
  nav ul a{
    font-size: 16px;
  }
}
@media screen and (min-width:1020px) {
  div.hero-foto{
    height: 700px;
  }
}
@media screen and (max-width:895px) {
  div.hero-foto{
    height: 336px;
  }
}

@media screen and (max-width:768px) {

  input.header-search{
    width: 52px;
    padding: 0;
    position: static;
    height: 52px;
    border-radius: 52px;
    background-position: center center;
    transition: width 60ms ease-out;
  }
  input.header-search:focus {
    width: 59%;
    left: 23%;
    position: absolute;
    background-position: 13px center;
    padding: 13px 13px 13px 43px;
    font-size: 20px;
    box-sizing: border-box;
    transition: width 600ms;
  }
  .header-search::placeholder {
    color: transparent;
  }
  div.logo{
    flex-grow: 0;
  }
  div.search-div{
    margin-right: 0;
  }
  div.container.container-flex{
    justify-content: space-between;
  }
  nav.nav{
    width: 44%;
  }
  nav ul a{
    font-size: 9px;
  }
  header .container{
    margin: 0 15px;
  }
  section.section-hero{
    margin-left: 15px;
    margin-right: 15px;
  }
  main .hero-text h1{
    font-size: 62px;
  }
  .hero-foto:hover img.img__header-svg {
    left: 50%;
  }
  div.hero-text{
    width: 50%;
    padding-right: 0;
    margin-right: 0;
  }
  div.hero-foto{
    width: 49%;
    height: 325px;
  }
  aside.aside-1{
    margin-left: 0px;
    margin-right: 0px;
  }
  .aside-1 button.addToCar{
    width: 40%;
    box-sizing: content-box;
  }
  section.section-2{
    margin: 80px 15px;
  }
  div.section-2__content> h3{
    font-size: 2.5em;
  }
  div.section-2__content> p{
    font-size: 0.9em;
  }
  div.img-section2{
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
  }
  div.img-section2{
    width: 80%;
  }
  .section-2  div.invert h3{
    margin-left: 60px;
  }
  .section-2  div.invert p{
    margin-left: 60px;
  }
  .invert> .section-2__content{
    width: 57%;
  }
  aside.section-runner{
    height: 413px;
    background: url('../img/runner-md.jpg');
  }
  aside.section-runner span{
    font-size: 3.5em;
    padding-top: 40px;
    padding-left: 19px;
  }
  aside.aside-contato{
    margin: 150px 0;
  }
  div.div-map{
    min-width: 0  ;
    width: 50%;
  }
  form.form{
    width: 50%;
  }
  label.checkbox-label{
    font-size: 14px;
  }
  img.footer__logo{
    width: 64px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .logo__footer--fix{
    width: 88%;
  }
  div.footer-links{
    flex-wrap: wrap;
  }

  div.footer-links>div:nth-child(2),div.footer-links>div:nth-child(3){
    width: 50%;
  }
  div.footer-links>div:nth-child(3){
    width: 42%;
  }
  div.footer-links>div h5{
    font-family: Gilroy-Regular,sans-serif;
    font-size: 20px;
  }
  div.footer-links>div:last-child{
    display: none;
  }
  div.footer-links a{
    font-size: 18px;
    font-family: Gilroy-Regular,Lato, sans-serif;
    font-weight: 400;
    line-height: 35px;
  }
  div.authors-bar p{
    font-size: 1.2em;
  }
  div.authors-bar strong{
    font-family: Gilroy-Black;
  }

}



body{
  margin: 0;
}
header{
  padding: 29px 0;
  font-family: Gilroy-Regular ,Lato, sans-serif;
  font-weight: 500;
  color: black;
}
.container-flex{
  display: flex;
}
.container-flex-spaced{
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 100%;
  margin: 0 80px;
}
.logo{
  justify-self: left;
  flex-grow: 2;
}
a{
  text-decoration: none;
  font-weight: 700;
  color: black;
}
nav{
  flex-shrink: 2;
  width: 50%;
}
nav>ul{
  align-items: center;
  list-style-type: none;
  display: flex;
  padding-left: 0;
  flex-direction: row;
}
nav li{
  margin: 0 3%;
  font-size: 0.6em;
}
.search-div{
  flex-grow: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 10px;
}
.search-div> div{
  display: flex;
  justify-self: flex-end;
  align-items: center;
}
.header-search{
  background-image: url('../img/Vectorlupa.svg');
  background-repeat: no-repeat;
  background-position: 13px center;
  background-color: #f2f2f2;
  border-radius:50px;
  padding: 13px 13px 13px 43px;
  border:1px solid #f2f2f2;
  width: 65%;
}
.bag-btn{
  cursor: pointer;
  border:none;
  background-repeat: no-repeat;
  background:url('../img/Header/Bagbag.svg');
  height: 52px;
  width: 52px;
}
.section-hero{
  margin-top: 40px;
  margin-right: 80px;
  margin-left: 80px;
  display: flex;
}
.hero-foto{
  flex-grow: 4;
  text-align: center;
  height: 554px;
}
.img__header-svg{
  width: 35%;
  left: 54%;
  position: absolute;
  transition: left 2s ease;
}
.img__header-tenis{
  width: 29%;
  transition: left 2s;
  position: absolute;
  top: 165px;
  left: 60%;
}
.hero-foto:hover .img__header-svg{
  transition: all 1s cubic-bezier(0.18, 1.13, 1, 0.99);
  left: 51%;
}
.hero-foto:hover .img__header-tenis{
  transition: all 1s cubic-bezier(0.18, 1.13, 1, 0.99);
  left: 65%;
}

.hero-text{
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 15px;
  margin-right: 6%;
}
.hero-text>h1{
  font-family: Gilroy-Bold,Lato, sans-serif;
  color: #9F9F9F;
  font-size: 6em;
  margin: 0 0 10px 0;
  background-image: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-text>p{
  font-family: Gilroy-Regular,Lato, sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  text-align: justify;
}
button.btn-hero{
  width: calc(60% + 84px );
  height: 16%;
  font-size: 1.2em;
  max-width: 290px;
}
.addToCar{
  font-family: Gilroy-Bold,Lato, sans-serif;
  background-image: url('../img/Vector.svg');
  background-position: 90% 50%;
  background-repeat: no-repeat;
  margin-top:10%;
  border: 2px solid black;
  border-radius: 12px;
  text-align: start;
  padding: 20px 30px 20px 21px;
  font-weight: 700;
  font-size: 0.8em;
  background-color: transparent;
  vertical-align: middle;
  max-width: 50%;
  min-width: 220px;
  box-sizing: border-box;
  transition: border 0.5s, background-color 0.8s;
}
.addToCar:hover{
  background-color: #F3F3F3;
  border-radius: 12px;
  border: 1px solid transparent;
}
.addToCar:active{
  background-color: #D2D2D2;
  transition: background-color 100ms;
}
.addToCar>img{
  margin-left: 4px;
  vertical-align: middle;
}
.addToCar{
  vertical-align: middle;
}
.aside-1{
  /*width: 95%;*/
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  background: #F3F3F3;
  border-radius: 8px;
  text-align: center;
  padding: 40px;
}
aside.aside-1 .addToCar{
  margin-top: 5%;
  height: 16%;
  font-size: 1.2em;
  width: 18%;
  background-image: none;
  text-align: center;
}
.aside-1 h3{
  font-weight: 700;
  font-family: Gilroy-Black,lato,sans-serif;
  font-size: 2em;
  text-transform: uppercase;
}
.aside-1 p{
  font-weight: 700;
  font-size: 1.4em;
  font-family: Gilroy-Bold,lato,sans-serif;
}
.aside-1>div{
  margin: auto;
  display:flex;
  flex-direction:column;
  align-items: center;
}
.bolinha-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bolinha{
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin:0 5px;
}
.bolinha:nth-child(1){
  background: linear-gradient(270.06deg, #E4E4E4 20.97%, #FFFFFF 99.92%);
  border: 2px solid rgba(31, 31, 31, 0.5);
}
.bolinha:nth-child(2){
  background: linear-gradient(277.74deg, #FFE08D 9.16%, #FFB757 91.03%);
  opacity: 0.5;
  border: 2px solid #FFFFFF;
}
.bolinha:nth-child(3){
  background: linear-gradient(270.06deg, #464646 20.97%, #D3D3D3 99.92%);
  opacity: 0.5;
  border: 2px solid #FFFFFF;
}
.bolinha:nth-child(4){
  background: linear-gradient(270.06deg, #464646 20.97%, #D3D3D3 99.92%);
  opacity: 0.5;
  border: 2px solid #FFFFFF;
}
.section-2{
  margin: 70px 80px;
  /*width: 100%;*/
}
.section-2>div{
  display: flex;
  margin: 80px 0;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.invert{
  flex-direction: row-reverse;
}
.section-2 h3{
  font-family: Gilroy-Black,Lato, sans-serif;
  color: #9F9F9F;
  font-size: 4em;
  font-weight: bolder;
  margin-top: 0;
  text-transform: capitalize;
  background-image: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-2__content{
  width: 561px;
}
.section-2 p{
  font-family: Gilroy-Regular,Lato, sans-serif;
  width: 80%;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
}

.section-2 h3{
  margin-bottom: 10px;
}
.section-2>div>div{
  vertical-align: middle;
  font-family: Lato;
}
div.invert p{
  margin-left: 10%;
}
.invert h3{
  margin-left: 58px;
}
.img-section2 img{
  /*max-width: 550px;*/
  width: 100%;
  height: auto;
}
.section-runner{
  background-image:url('../img/corredor.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  height: 720px;
}
.section-runner span{
  font-size: 6.5em;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Gilroy-Bold, sans-serif;
  display: block;
  line-height: 140%;
}
.aside-contato{
  margin: 150px 80px;
}
.div-map{
  background-repeat: no-repeat;
  background-image: url(../img/map.png);
  background-size: cover;
  height: 56em;
  float: left;
  display: inline-block;
  min-height: 500px;
  width: 60%;

}
.form{
  color: #1F1F1F;
    background-color: #F3F3F3;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 56em;
    width: 35%;
    box-sizing: border-box;
    font-family: Gilroy-Medium ,Lato, sans-serif;
    border-radius: 0 8px 8px 0;
    flex-direction: column;
    justify-content: space-evenly;
}
.form>h3{
  font-size: 2em;
  margin-top: 0;
  font-family:Gilroy-Black, Lato,sans-serif;
}
.form > input,textarea{
  box-sizing: border-box;
  font-size: 1.4em;
  background: #FFFFFF;
  border-radius: 12px;
  border: none;
  display: block;
  padding: 24px 28px;
  width: 100%;
  height: 8%;
  margin-bottom: 20px;
}
.form >textarea{
  resize: none;
  height: 35%;
  outline: none;
  font: 1.4em Lato;

}
input,button{
  outline: none;
}
.checkbox-label{
  display: block;
  position: relative;
  padding-left: 20px;
  font-size: 12px;
  color: #424242;

  font-weight: 400;
  font-size: 1.3em;
  font-family: Gilroy-Regular,Lato, sans-serif;;
  color: #969696;
}
.check{
  position: absolute;
  opacity: 0;
  height: 17px;
  width: 17px;
  left: 0;
  bottom: 7;
  z-index: 2;
  /*background: #FFFFFF;
  border: 2px solid #D2D2D2;
  border-radius: 4px;*/
}
.chk-span{
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 2px;
}
.check:checked ~ .chk-span{
  background-color: #002D32;
  border: none;
}
.chk-span::after{

  content: '';
  position: absolute;
}
.label-div .chk-span::after{
   content: '';
   left: 5px;
   top: 1px;
   width: 5px;
   height: 9px;
   transform: rotate(45deg);
   border-right: 3px solid #fff;
   border-bottom: 3px solid #fff;

}

}
.label-div .check:checked ~ .chk-span::after{
  display: block;
}


.label-div{
  margin-top: 20px;
  margin-bottom: 15px;
}
button.send{
  font-family: Gilroy-Bold,Lato, sans-serif;
  margin-top:10%;
  padding: 20px;
  font-weight: 700;
  background-color: transparent;
  text-align: center;
  width: 100%;
  border: 2px solid #1F1F1F;
  border-radius: 12px;
  font-size: 1.4em;
}
.footer-links{
  background-color: #F3F3F3;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin: 40px 0px 0 0 ;
  padding: 0 3%;
  font-family: Lato,Arial, Helvetica, sans-serif;
}
footer{
  background-color: #F3F3F3;
  margin: 0;
  text-align: center ;
  margin-top: 9%;
  font-family: Lato,Arial, Helvetica, sans-serif;
}
.footer__logo{
  width: 124px;
}
footer h5{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.4em;
  text-transform: uppercase;
  font-family: Gilroy-Medium,Lato, sans-serif;
}
.footer-links ul{
  list-style-type: none;
  padding-left: 0;
}
.footer-links a{
  font-size: 1.6em;
  font-family:Gilroy-Regular,Lato, sans-serif;
  font-weight: 400;
}
.footer-links > div{
  text-align: left;
  margin-top: 4%;
}
.social{
  display: flex;
  flex-direction: row;
}
.authors-bar{
  margin-top: 3%;
  background: #F2F2F2;
}
.authors-bar>p{
  font-family: Gilroy-Regular,Lato, sans-serif;
  margin: 10px 0 0 0;
  font-weight: 700;
  padding-bottom: 20px;
  font-size: 1.9em;
}
.authors-bar strong{
  font-weight: 800;
  font-size: 1.3EM;
}
